html {

    background: rgb(54, 54, 54);    

}

.NavBar {

    background-color: rgba(19, 19, 19, 0.5);
    
}

ul {

    list-style: none;

}

li {

    text-decoration-line: none;
    color: antiquewhite;
    padding: 30px;
    display: inline-block;

}